h1{
    background-color:#16697A ;
    color: white;
}

p{
    background-color:#16697A ;
    text-align: center;
    color: white;
}

.image{
    text-align: center;
    background-color: #16697A;
}
